@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karma:wght@300;400;500;600;700&family=Oswald:wght@200..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: absolute;
    background-color: rgb(204, 199, 199);
    /* width: 360px; */
    height: 100vh;
    font-family: "Fira Sans", sans-serif;
    transition: transform 0.3s ease-in;
}

.sidebar nav {
    padding: 35px;
}

.sidebar nav li {
    list-style: none;
    font-size: 23px;
    padding: 19px 0;
}

/* ye alag se same things to do none */
.sidebar nav li a {
    text-decoration: none;
    color: rgb(15, 15, 15);
}

.main {
    /* background-color: yellow; */
    width: 90vw;
}

.container {
    display: flex;
}

.infocontainer {
    /* background-color: rgb(211, 6, 160); */
    height: 58vh;
    width: 70vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devPic img {
    height: 58vh;
}

.devInfo {
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Source Code Pro", monospace;
    margin-top: 85px;
}

.hello {
    font-size: 3em;
    font-family: "Source Code Pro", monospace;
}

.Name {
    font-size: 3em;
    font-weight: bold;
    font-family: "Fira Sans", sans-serif;
}

.About {
    font-size: 2.5em;
}

.Buttons {
    margin-top: 2.2em;
    font-size: 16px;
}

.Buttons Button {
    padding: 9px 14px;
    border-radius: 29px;
    color: white;
    background-color: rgb(6, 8, 107);
    font-weight: bold;
    font-size: 2em;
    margin: 3px 3px;
    cursor: pointer;
}

.Buttons button:hover {
    background-color: white;
    color: dodgerblue;
}

.Moreabout {
    font-size: 2em;
    font-family: "Karma", serif;
    margin-top: 23px;
}

.contactform {
    padding: 0 34px;
    font-family: "Fira Sans", sans-serif;
    margin: 0 88px;

}

.contactform h1 {
    font-family: "Source Code Pro", monospace;
    /* padding: 2px 0; */
}

.contactform form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    /* width: 26vw; */
    border-radius: 5px;
    margin: 6px 0;
    padding: 3px;
}
.contactform form{
    margin: 0 40px;
}

#emailHelp {
    font-size: 10px;
    color: midnightblue;
    margin: 0 5px;
    padding: 0 5px;

}

#phone {
    font-size: 10px;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 24px;
    margin: 3px 0;
}

#Enquiry {
    height: 7vh;
}

.btn {
    padding: 5px 10px;
    border-radius: 29px;
    color: white;
    background-color: rgb(93, 140, 240);
    font-weight: bold;
    font-size: 21px;
    margin: 0 3 px;
    cursor: pointer;
}


.blogitem {
    margin: 20px;
    font-family: "Fira Sans", sans-serif;
}
.blogcontainer{
    margin: 65px;
}

h1 {
    font-family: "Fira Sans", sans-serif;
    margin: 23px;
}

p {
    font-family: "Source Code Pro", monospace;

}

.btn-sm {
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}

.btn-sm:hover {
    background-color: white;
    color: dodgerblue;
}

/* intro page */
.intro{
    margin: 65px;
}
.intro h2 {
    font-family: "Fira Sans", sans-serif;
    margin: 12px;
}

.intro p {
    font-family: "Source Code Pro", monospace;
    margin: 12px;
    margin-bottom: 12px;
}

.skillcontainer {
    padding: 12px;
}

.skillitem {
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 20px;
}

.skill {
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
}

.hundred {
    width: 265px;
    background-color: green;
}

.Eightyfive {
    width: 200;
    background-color: orangered;
}

.fifty {
    width: 125px;
    background-color: aqua;
}

.twentyfive {
    width: 185px;
    background-color: blue;
}

.projectcontainer {
    padding: 12px;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
}

/* Use following css for Responsive Website  */
.sidebarGo {
    transform: translate(-443px, 0px);
    position: absolute;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.ham {
    margin-top: 2px;
    margin-left: 2px;
}

.cross {
    margin-left: 139px;
    margin-top: 2px;
}

@media (max-width: 935px) {
    * {
        /* background-color: rgb(221, 149, 149); */

    }

    /* .sidebar{
    transform: translate(-443px, 0px);
    position: absolute;
 } */
  
}
.devInfo{
    font-size: 10px;
}
.devPic {
    /* display: none; */
}

.intro,.blogcontainer, .contactform{
    margin:50px 8px;
}
.Buttons{
    font-size: 6px;
}

/* Services page css  */

.services h1{
    font-family: "Fira Sans", sans-serif;
    padding: 30px;
    margin-top: 25px;
}
.services p{
    font-family: "Fira Sans", sans-serif;
    /* padding: 5px; */
    margin-left: 48px;
    margin-top: -31px;
}

.servicescontainer{
    padding-top: 20px;
    margin-left: 50px;
    font-size: 30px;
    line-height: 60px;
}